<div class = "wrap">
  <div class="row-fluid">
    <div class="span1">
      <!-- start: Main Menu -->
          <div id="sidebar-nav">
              <ul id="dashboard-menu">
                <li class ="click">
                    <a href="#">
                       <i class="fa fa-home fa-fw"></i>
                          <span>Dashboard</span>
                    </a>
                </li>            
                
                <li class="click-chart">
                   <a href="#">
                      <i class="fa fa-signal"></i>
                                        <span>Charts</span>
                                    </a>
                                </li>
                                    
                                 <li>
                                    <a class="" href="#">
                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-1" class="sign">
                                        <i class="fa fa-group"></i>Replication</span>
                                       

                                    </a>
                                   <ul class="children nav-child unstyled small collapse" id="sub-item-1">
                                      <a class= "" href ="#" >   
                                             <li class="new">
                                                <span data-toggle="collapse" data-parent="#menu-group-1">
                                                    <i class="fa fa-user"></i>
                                                </span>New
                                            </li>
                                        </a>
                                        <a class="" href="#">
                                             <li class="pending">
                                                <span data-toggle="collapse" data-parent="#menu-group-1">
                                                    <i class="fa fa-frown-o"></i>
                                               </span>Pending</li>
                                         </a>
                                          <a class="" href="#">
                                               <li class="click-ele"><span data-toggle="collapse" data-parent="#menu-group-1">
                                            <i class="fa fa-thumbs-down" ></i>
                                             </span>Rejected</li>
                                         </a>
                                          <a class="" href="#">
                                               <li class="click-ele"><span data-toggle="collapse" data-parent="#menu-group-1">
                                          <i class="fa fa-thumbs-up"></i>
                                             </span>Approved</li>
                                             
                                </li>
                            </a>
                                    </ul>
                             
                                  <li class="click-ele">
                                    <a class="" href="#">
                                    <span data-toggle="collapse" data-parent="#menu-group-2" href="#sub-item-2" class="sign">
                                       <i class="fa fa-shopping-cart"></i>Asset</span>
                                       

                                    </a>
                                   <ul class="children nav-child unstyled small collapse" id="sub-item-2">
                                       <li class="item-2 deeper parent active">
                                           
                                         <li class="newasset">
                                            <span data-toggle="collapse" data-parent="#menu-group-2">
                                              <i class="fa fa-plus"></i>
                                            </span>ADD
                                        </li>
                                          
                                        <li class="viewasset">
                                          <span data-toggle="collapse" data-parent="#menu-group-2">
                                            <i class="fa fa-eye"></i> 
                                          </span>View
                                        </li>        
                                      </li>
                                  </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

               
  			 <div class = "span11">
        	<div class = "well">
          <div class="content-wrapper">       
            		<%= render "form" %>
              
             </div>   

        </div>
       </div>
   </div>