<script type='text/javascript'>
 $(document).ready(function() {
  $("#submit").prop("disabled", true).removeClass("btn btn-block btn-lg btn-primary").addClass("btn btn-block btn-lg btn-default");
  $("#reload").prop("disabled", false);
  $("#btn_AddToList").click(function() {
      addkey();
    $("#btn_AddToList1").click(function() {
     donekey();
      $("body").on("shown.bs.modal", "#myModal", function() {
        $(".modal-body").html($("#table-lst-regions").html());
      });
    });
  });
});

donekey=function(el){
   $("#reload").prop("disabled", false).removeClass("btn btn-default").addClass("btn btn-info");
   $("#submit").prop("disabled", false).removeClass("btn btn-block btn-lg btn-default").addClass("btn btn-block btn-lg btn-info");

}

addkey = function(el){
var val, val2, val3, val4;
    val = void 0;
    val2 = void 0;
    val3 = void 0;
    val4 = void 0;
    $("#reload").prop("disabled", true).removeClass("btn btn-info").addClass("btn btn-default");
    $("#submit").prop("disabled", true).removeClass("btn btn-block btn-lg btn-info").addClass("btn btn-block btn-lg btn-default").html("loading..");
    val = $("#txt_RegionName").val();
    val2 = $("#txt_Region").val();
    val3 = $("#txt_Regio").val();
    val4 = $("#txt_Regi").val();
    $("#lst_Regions").append("<tr><td>" + val + "</td>" + "<td>" + val2 + "</td>" + "<td>" + val3 + "</td>" + "<td>" + val4 + '</td><td><button type="button" class="api_key_delete btn btn-small btn-danger" value="31" onclick="deleteRow(this);"><i class="fa fa-trash-o"></i>  Delete</button></td></tr>');
    $("#txt_RegionName").val("").focus();
    $("#txt_Region").val("");
    $("#txt_Regio").val("");
    $("#txt_Regi").val("");
  }

$(function() {
  $("#lst_Regions").on("dblclick", "td", function() {
    var OriginalContent, inputNewText;
    OriginalContent = void 0;
    inputNewText = void 0;
    OriginalContent = $(this).text();
    inputNewText = prompt("Enter new content for:", OriginalContent);
    if (inputNewText !== null) {
      $(this).text(inputNewText);
    }
  });
});
</script>