<div class="container">
    <div class="row">
         <div class = "well">
    <p style = "font-size:20pt;color: MidnightBlue; align: left">
      <i class="fa fa-plus-square-o">
      </i>
      <i><b>List of all APPROVED PO</b></i>
    </p>
    
    <hr class="colorgraph">
        <div class="col-md-9">
            <form class = "form-inline" action="#" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" id="system-search" placeholder="Search" name="q" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </form>
        </div>
            <div class="col-md-9">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr style = 'background-color: white'>
                    <th> <i class="fa fa-male"></i> Name </th>
                    <th><i class="fa fa-bars"></i>Invoice no</th>
                    
                </tr>
            </thead>
            <tbody>
               
            <% @po.each do |p| %>
                  <tr>
                        <td><%= p.name %></td>
						<td><%= p.pono %></td>
                  
                    <td>
                        <% if p.ssends.empty? %>
                        <%= button_to "Send to vendor", p , method: :get, :class => "btn btn-info"  ,data: { confirm: "Really wants to send to vendor?" } %>
                        <%else %>
                         <%= button_to "PO sent", p , :disabled => :true, :class => "btn btn-danger"  %>
                         <% end %>
                       
                    </td>
                 </tr>

            <% end %>
            </tbody>
        </table>
            </div>
        </div>
    </div>
</div>



	
	