<body onload="JavaScript:AutoRefresh(50000);" >
<% if authorize_signed_in?%>

  <div class= "container-fluid">
    <div class="row-fluid">
      <div class="span1">
        <%= render "sidebar"%>
      </div>
      <div class = "span11">
        <div class = "well">
          <div class="content-wrapper">       
                   
                        <%= render "/requisitions/index" %> 
          </div>
        </div>
      </div>
    </div>
  </div>


<% end %>
</body>
  