      <!-- start: Header -->
     <% if hr_signed_in? %>  
            <div class="container-fluid">
                <div class="row-fluid">
                    

                        <!-- start: Main Menu -->
                  
                    <div class= "span11">
                        <div class="well">
                           <%= render "/pos/index" %>
                        </div>
                    </div>
                </div>
                <%else %>
                <div class = "alert alert-danger">
    you  do not have any authentication to view this page .
</div>
<%end%>
            </div>

                   