      <!-- start: Header -->
        <div class="wrap">
            <div class="container-fluid">
                 <div class = "alert alert-success">
           Welcome back <%= current_hr.username %>, You have signed in <%= current_hr.sign_in_count %> times
            </div> 
                <div class="row-fluid">

                    <div class="span9 text-center">
                        <form class="">
                            <div class="input-prepend input-append">
                                <div class="btn-group">
                                    <button class="btn btn-inverse dropdown-toggle" data-toggle="dropdown"><i class="icon-list-alt"></i> Options <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Members</a></li>
                                        <li><a href="#">Products</a></li>
                                        <li><a href="#">Post</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Office Staff</a></li>
                                    </ul>
                                </div><!-- /btn-group -->
                                <input class="input-block-level" placeholder="Search universal big data . . ." id="appendedPrependedDropdownButton" type="text">
                                <button type="submit" class="btn btn-primary"> <i class="icon-search">
                                    </i>Search</button>
                            </div>

                        </form>
                    </div>

                    <div class="span3">
                        <ul class="top-profile-list pull-left">
                            <li>
                                <p class="text-center">
                                    <a class="btn btn-mini btn-circle btn-facebook " href="#"><i class="fa fa-facebook"></i></a>
                                    <a class="btn btn-mini btn-circle btn-gplus " href="#"><i class="fa fa-google-plus"></i></a>
                                    <a class="btn btn-mini btn-circle btn-twitter " href="#"><i class="fa fa-twitter"></i></a>

                                </p>
                            </li>

                        </ul>

                    </div>   

                </div>
            </div>

            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span1">

                        <!-- start: Main Menu -->
                        <div id="sidebar-nav">
                            <ul id="dashboard-menu">
                                <li >

                                    <a href="#">
                                        <i class="fa fa-home fa-fw"></i>
                                        <span>Dashboard</span>
                                    </a>
                                </li>            
                                <li class="active">
                                    <div class="pointer">
                                        <div class="arrow"></div>
                                        <div class="arrow_border"></div>
                                    </div>
                                    <a href="#">
                                        <i class="fa fa-signal"></i>
                                        <span>Charts</span>
                                    </a>
                                </li>
                                    
                                <li>
                                    <a class="" href="#">
                                    <span data-toggle="collapse" data-parent="#menu-group-1" href="#sub-item-1" class="sign">
                                        <i class="fa fa-group"></i>Replication</span>
                                       

                                    </a>
                                   <ul class="children nav-child unstyled small collapse" id="sub-item-1">
                                       <li class="item-2 deeper parent active">
                                           
                                        <li><span data-toggle="collapse" data-parent="#menu-group-1" id = "new">
                                          
                                           <i class="fa fa-plus"></i>
                                             </span>New</li>
                                         <li><span data-toggle="collapse" data-parent="#menu-group-1" data-icon="&#x2297;">
                                             <i class="fa fa-frown-o"></i>
                                             </span>Pending</li>
                                              <li><span data-toggle="collapse" data-parent="#menu-group-1">
                                            <i class="fa fa-thumbs-down" ></i>
                                             </span>Rejected</li>
                                              <li><span data-toggle="collapse" data-parent="#menu-group-1">
                                          <i class="fa fa-thumbs-up"></i>
                                             </span>Approved</li>
                                             
                                </li>
                                    </ul>
                                </li>
                                 <li>
                                    <a class="" href="#">
                                    <span data-toggle="collapse" data-parent="#menu-group-2" href="#sub-item-2" class="sign">
                                       <i class="fa fa-shopping-cart"></i>Asset</span>
                                       

                                    </a>
                                   <ul class="children nav-child unstyled small collapse" id="sub-item-2">
                                       <li class="item-2 deeper parent active">
                                           
                                        <li><span data-toggle="collapse" data-parent="#menu-group-2">
                                            <i class="fa fa-plus"></i>
                                             </span>ADD</li>
                                         <li><span data-toggle="collapse" data-parent="#menu-group-2">
                                            <i class="fa fa-eye"></i> 
                                             </span>View</li>
                                              
                                             
                                </li>
                                    </ul>
                                </li>
                                
                                
                                <li>
                                    <a href="#" id ="table">
                                        <i class="fa fa-th-large"></i>
                                        <span>Tables</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </div>

                    <!-- end: Main Menu -->



                    <!-- start: Content -->
                    
                    <div id="content" class="span11">
                        <ul class="breadcrumb">
                            <li>
                                <i class="icon-home"></i>
                                <a href="#">Dashboard</a>
                                <span class="icon-angle-right"></span>
                            </li>
                            <li><a href="#">Awesome Plugins </a>
                                <span class="icon-angle-right"></span>
                            </li>
                            <li><a href="#">Charts</a>
                            </li>
                        </ul>
                        <h3> Charts</h3>

                        <div class="row-fluid">

                            <div class="span6">
                                <div class="social-box social-bordered social-blue">
                                    <div class="header">
                                        <h4>Basic Charts</h4>
                                    </div>
                                    <div class="body">
                                        <div id="basic-charts" class="plot"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="social-box social-bordered social-orange">
                                    <div class="header">
                                        <h4>Live Chart</h4>
                                    </div>
                                    <div class="body">
                                        <div id="live-chart" class="plot" style="padding-top: 1px;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span8">
                                <div class="social-box social-bordered social-green">
                                    <div class="header">
                                        <h4>justGage Charts</h4>
                                    </div>
                                    <div class="body" style="text-align: center;">
                                        <div class="row-fluid">
                                            <div class="span7">
                                                <div id="g1"></div>
                                            </div>
                                            <div class="span5">
                                                <div id="g2"></div>
                                                <div id="g3"></div>
                                                <div id="g4"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="social-box social-bordered">
                                    <div class="header">
                                        <h4>Sparklines</h4>
                                    </div>
                                    <div class="body">
                                        <p>Composite bar <span id="compositebar">4,6,7,7,4,3,2,1,4</span>
                                        </p>
                                        <p>
                                            Customize size and colours
                                            <span id="linecustom">10,8,9,3,5,8,5,7</span>
                                        </p>
                                        <p>
                                            Tristate charts
                                            <span class="sparktristate">1,1,0,1,-1,-1,1,-1,0,0,1,1</span><br/>
                                        </p>
                                    </div>
                                </div>
                                <div class="social-box social-bordered">
                                    <div class="header">
                                        <h4>Pie Charts</h4>
                                        <div class="tools">
                                            <a class="btn btn-primary updatePieCharts" data-toggle="tooltip" title="Update pie Charts"><i class="icon-refresh"></i></a>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div class="row-fluid">
                                            <div class="chart span6">
                                                <div class="percentage" data-percent="55"><span>55</span>%</div>
                                                <div class="label">New visitors</div>
                                            </div>
                                            <div class="chart span6">
                                                <div class="percentage" data-percent="21"><span>21</span>%</div>
                                                <div class="label">Bounce rate</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span8">
                                <div class="social-box social-bordered social-orange">
                                    <div class="header">
                                        <h4>Chart with symbols</h4>
                                    </div>
                                    <div class="body">
                                        <div id="symbols-chart" class="plot"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="social-box social-bordered social-green">
                                    <div class="header">
                                        <h4>Pie Chart</h4>
                                    </div>
                                    <div class="body">
                                        <div id="pie-chart" class="plot"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span8">
                                <div class="social-box social-bordered">
                                    <div class="header">
                                        <h4>Bar chart</h4>
                                        <div class="tools">
                                            <div class="stackControls btn-group">
                                                <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog"></i></button>
                                                <ul class="dropdown-menu pull-right">
                                                    <li><a href="#">Without stacking</a></li>
                                                    <li><a href="#">With stacking</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="body">
                                        <div id="bar-chart" class="plot"></div>
                                    </div>
                                    <div class="footer">
                                        <div class="graphControls btn-group span5" data-toggle="buttons-radio">
                                            <button class="btn btn-inverse active"><i class="icon-bar-chart "></i> Bars</button>
                                            <button class="btn btn-inverse "><i class="icon-bar-chart "></i> Lines</button>
                                            <button class="btn btn-inverse "><i class="icon-signal"></i> Lines with steps</button>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="social-box social-bordered social-blue">
                                    <div class="header">
                                        <h4>Donut Chart</h4>
                                    </div>
                                    <div class="body">
                                        <div id="donut-chart" class="plot"></div>
                                    </div>
                                </div>
                            </div>






                        </div>
                    </div>
                </div>
        </div>
            </div><!--/#content.span19-->
           
        



   