<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Marck Bioscience Pvt Ltd.</title>
</head>
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#726627" style="background-color:#726627;"><br>
    <br>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" style="padding:5px;"></td>
      </tr>
      <tr>
        <td align="left" valign="top"></td>
      </tr>
      <tr>
        <td align="center" valign="top" bgcolor="#006c00" style="background-color:#006c00; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000;"><table width="100%" border="0" cellspacing="0" cellpadding="5">
          <tr>
            
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:12px;"><table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-bottom:10px;">
          <tr>
            <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;">
            <div style="font-size:18px; color:#006d00;">Mail Regarding Your Products </div>
              <div style="font-size:28px;">We regret to inform you that your asset has been deleted</div>
 </td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-bottom:10px;">
            <tr>
              <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;"><div style="font-size:14px;"><b><img src="http://www.marckindia.com/images/about_img.jpg" width="188" height="148" align="left" style="margin-right:20px;"></b></div>
                <div> We are sorry to inform you that <p style = "color: red;">one of our our asset has been deleted</p>and for now its no longer needed by us. If any change is observed  or if we need this product in future then we'll inform you.<br>
                  
            </tr>
          </table>
         
      </tr>
      <tr>
        <td align="left" valign="top" bgcolor="#006c00" style="background-color:#006c00;"><table width="100%" border="0" cellspacing="0" cellpadding="15">
          <tr>
            <td align="left" valign="top" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px;">Plot no: 876, N. H. no. 8, Hariyala, Kheda
            Gujarat, India <br>
              Kheda Branch <br>
              Phone: +91 2694 304000 <br>
              Fax:Fax: +91 2694 304050 <br>
              Email: <a href="mailto: info@marckindia.com" style="color:#ffffff; text-decoration:none;"> info@marckindia.com </a><br>
              Website: <a href="http://www.marckindia.com" target="_blank" style="color:#ffffff; text-decoration:none;">www.marckindia.com</a></td>
          </tr>
        </table></td>
      </tr>
  </table>
    <br>
    <br></td>
  </tr>
</table>
</body>
</html>