<html>
<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<title>Welcome to Marck Bioscience pvt.ltd</title>
</head>
<body style="font-family: 'Arial', sans-serif; line-height: 1.231; font-style: normal; font-variant: normal; font-size: 13px; font-weight: normal; color: #fff; background-color:#87CEFA ;" bgcolor="#87CEFA ">
<style type="text/css">
.contact a:hover { text-decoration: underline !important; }
></style>
<div id="wrapper" style="width: 100%; background-color: white; color: blue; margin: 2em 0;">
<table width="646" class="container" cellspacing="0" cellpadding="0" style="line-height: 130%; color: #4d4d4d; text-align: left; border-collapse: collapse; border-spacing: 0; margin: 0 auto; border: 0;">
<tr><td height="13" colspan="6" class="frame" style="font-size: 1px; line-height: 1px; text-align: left; font-weight: normal; vertical-align: top; background-color: #87CEFA; margin: 0; padding: 0;" align="left" bgcolor="#87CEFA" valign="top"> </td></tr>
<table width="646" class="container" cellspacing="0" cellpadding="0" style="line-height: 130%; color: #4d4d4d; text-align: left; border-collapse: collapse; border-spacing: 0; margin: 0 auto; border: 0;">
<tr>
<td class="frame" width="13" style="font-size: 1px; line-height: 1px; text-align: left; font-weight: normal; vertical-align: top; background-color: #87CEFA; margin: 0; padding: 0;" align="left" bgcolor="#87CEFA" valign="top"> </td>
	<td class="gutter" width="60" style="color: #999; text-align: left; font-weight: normal; vertical-align: top; background-color: #fff; margin: 0; padding: 0;" align="left" bgcolor="#fff" valign="top"> </td>
	<td class="content" colspan="2" width="500" style="line-height: 158%; color: #999; text-align: left; font-weight: normal; vertical-align: top; background-color: #fff; margin: 0; padding: 0;" align="left" bgcolor="#fff" valign="top">
<h1 style="color: #87CEFA; text-transform: uppercase; text-align: center; letter-spacing: .1em; font-style: normal; font-variant: normal; font-weight: bold; font-size: 85%; line-height: normal; font-family: 'Verdana', sans-serif; background-repeat: repeat-x; background-color: transparent; background-position: 55%; margin: 32px 0 19px;" align="center"><span style="background-color: #fff; padding: 0 .5em;">ASSET</span></h1>
<table width="500" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0; border: 0;"><tr>
<td width="20" style="text-align: left; font-weight: normal; vertical-align: top; margin: 0; padding: 0;" align="left" valign="top"> </td>
	<td colspan="2" width="460" style="text-align: left; font-weight: normal; vertical-align: top; margin: 0; padding: 0;" align="left" valign="top">
		<h2 style="color: #87CEFA; font-style: normal; font-variant: normal; font-weight: normal; font-size: 205%; line-height: 109%; font-family: 'Arial', sans-serif; margin: 0 0 .4em;">Marck Bioscience pvt.ltd</h2>
		<h3 style="color: #808080; font-style: normal; font-variant: normal; font-weight: normal; font-size: 165%; line-height: 109%; font-family: 'Arial', sans-serif; margin: 0 0 .1em;"></h3>
		<p class="dt" style="color: #999; vertical-align: top; font-style: italic; font-variant: normal; font-weight: normal; font-size: 95%; line-height: 135%; font-family: 'Arial', sans-serif; margin: 0 0 .8em;"></p>
		<p class="unaligned" style="color: #999; vertical-align: top; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 158%; font-family: 'Arial', sans-serif; margin: 0 0 1em;">
		
			New Asset is added Sucessfully <b><%=@realasset.name %></b></p>
		<p style="color: #999; vertical-align: top; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 158%; font-family: 'Arial', sans-serif; margin: 0 0 1em;"</p>
		<p id="accents" style="color: #999; vertical-align: top; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 158%; font-family: 'Arial', sans-serif; margin: 0 0 1em;"></p>
		<p style="color: #999; vertical-align: top; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 158%; font-family: 'Arial', sans-serif; margin: 0 0 1em;"></p>
		<p style="color: #999; vertical-align: top; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 158%; font-family: 'Arial', sans-serif; margin: 0 0 1em;"></p>
		<blockquote style="text-align: center; color: #999; font-style: italic; font-variant: normal; font-weight: normal; font-size: 16px; line-height: 145%; font-family: 'Georgia', serif; margin: 0; padding: 5px 30px;" align="center"><p style="color: #999; vertical-align: top; font-style: italic; font-variant: normal; font-weight: normal; font-size: 16px; line-height: 145%; font-family: 'Georgia', serif; margin: 0 0 1em;">“<b>Mission</b> is to become a transnational pharmaceutical company through the development and introduction of a wide portfolio of branded and generic products in key markets.”</p></blockquote>
		<p style="color: #999; vertical-align: top; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 158%; font-family: 'Arial', sans-serif; margin: 0 0 1em;"></p>
		<h3 style="color: #808080; font-style: normal; font-variant: normal; font-weight: normal; font-size: 165%; line-height: 109%; font-family: 'Arial', sans-serif; margin: 0 0 .1em;"></h3>
		
<p style="color: #999; vertical-align: top; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 158%; font-family: 'Arial', sans-serif; margin: 0 0 1em;"></p>
		<p style="color: #999; vertical-align: top; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 158%; font-family: 'Arial', sans-serif; margin: 0 0 1em;"> </p>
	</td>
	<td width="20" style="text-align: left; font-weight: normal; vertical-align: top; margin: 0; padding: 0;" align="left" valign="top"> </td>
</tr></table>
	</td>
<!-- /#content -->
	<td class="gutter" width="60" style="color: #999; text-align: left; font-weight: normal; vertical-align: top; background-color: #fff; margin: 0; padding: 0;" align="left" bgcolor="#fff" valign="top"> </td>
	<td class="frame" width="13" style="font-size: 1px; line-height: 1px; text-align: left; font-weight: normal; vertical-align: top; background-color: #87CEFA; margin: 0; padding: 0;" align="left" bgcolor="#87CEFA" valign="top"> </td>
</tr>
<tr>
<td class="frame" width="13" style="font-size: 1px; line-height: 1px; text-align: left; font-weight: normal; vertical-align: top; background-color: #87CEFA; margin: 0; padding: 0;" align="left" bgcolor="#87CEFA" valign="top"> </td>
	<td colspan="4" width="620" style="text-align: left; font-weight: normal; vertical-align: top; margin: 0; padding: 0;" align="left" valign="top">
		<table summary="Contact information" cellspacing="0" cellpadding="0" width="620" style="border-collapse: collapse; border-spacing: 0; border: 0;">
<tr><td height="4" class="hairline" style="font-size: 1px; line-height: 1px; text-align: left; font-weight: normal; vertical-align: top; background-color: #87CEFA; margin: 0; padding: 0;" align="left" bgcolor="#87CEFA" valign="top"> </td></tr>
<tr><td height="34" class="contact" style="text-align: center; font-weight: normal; vertical-align: top; color: #fff; text-decoration: none; background-repeat: repeat; background-color: #87CEFA; margin: 0; padding: 0;" align="center" bgcolor="#87CEFA" valign="top"> </td></tr>
<tr>
<td align="center" class="contact" id="contact_info" style="text-align: center; font-weight: normal; vertical-align: top; color: #fff; text-decoration: none;background-repeat: repeat; background-color: #87CEFA; margin: 0; padding: 5px;" bgcolor="#87CEFA" valign="top">
<p id="address" style="color: #fff; vertical-align: top; text-decoration: none; font-style: normal; font-variant: normal; font-weight: normal; font-size: 100%; line-height: 140%; font-family: 'Arial', sans-serif; margin: 0;"><br></a><br>
			<center><table>
				<tr><td>MARCK BIOSCIENCE pvt ltd.</td></tr>
				<tr><td>Plot no: 876, N. H. no. 8, Hariyala, Kheda</td></tr>
			<tr><td>Phone: +91 2694 304000</td></tr>
			<tr><td>Gujarat, India</td></tr>
			<tr><td> Fax: +91 2694 304050</td></tr>
			</table>
			</center>	
				</p>
				</td>
			</tr>
			
			<tr>
				<td height="13" colspan="6" class="frame" style="font-size: 1px; line-height: 1px; text-align: left; font-weight: normal; vertical-align: top; background-color: white; margin: 0; padding: 0;" align="left" bgcolor="black" valign="top">
				 </td>
			</tr>
			<center>Powered by <u>PANDYA SOFTWARE</u></center>
<tr><td height="34" class="contact" style="text-align: center; font-weight: normal; vertical-align: top; color: #fff; text-decoration: none;  background-repeat: repeat; background-color: #87CEFA; margin: 0; padding: 0;" align="center" bgcolor="#87CEFA" valign="top"> </td></tr>
<tr><td height="4" class="hairline" style="font-size: 1px; line-height: 1px; text-align: left; font-weight: normal; vertical-align: top; background-color: #87CEFA; margin: 0; padding: 0;" align="left" bgcolor="#87CEFA" valign="top"> </td></tr>
</table>
</td>
	<td class="frame" width="13" style="font-size: 1px; line-height: 1px; text-align: left; font-weight: normal; vertical-align: top; background-color: #87CEFA; margin: 0; padding: 0;" align="left" bgcolor="#87CEFA" valign="top"> </td>
</tr>
<tr>
<td class="frame" width="13" style="font-size: 1px; line-height: 1px; text-align: left; font-weight: normal; vertical-align: top; background-color: #87CEFA; margin: 0; padding: 0;" align="left" bgcolor="#87CEFA" valign="top"> </td>
</tr>
<tr><td height="22" colspan="6" style="text-align: left; font-weight: normal; vertical-align: top; margin: 0; padding: 0;" align="left" valign="top"></td></tr>
<tr><td id="credit" colspan="6" style="text-align: center; vertical-align: top; color: #123; font-style: normal; font-variant: normal; font-weight: normal; font-size: 10px; line-height: 13px; font-family: 'Verdana', sans-serif; margin: 0; padding: 0 0 20px;" align="center" valign="top"<br><br><unsubscribe></unsubscribe>
</td></tr>
</table>
</table>
</div>
</body>
</html>