<h1><u><i> About us </i></u></h1>

<h4><p>

In a marketplace resonating with the sounds of change, these are exciting as well as challenging times especially for the pharmaceutical industry.

At Marck Biosciences, we believe that virtually every part of the company must strive to innovate, to evolve, to change with the objective of achieving greater levels of competitive advantage.

Keeping pace with change has been our mantra for growth. A mantra called Innovision. A mantra that has been so internalized, that from being a large volume parenterals and IV parenteral formulations manufacturing company that commenced operations in 1998, today we have evolved into a company whose business interests include production of irrigation solutions, formulations in ophthalmic and respiratory care and small volume injectables making us a lead player with a wide variety of large and small volume preparations in sterile dosages.

Today, we are a midsize company with big size dreams. And evolution is our bridge to the future. The trust reposed by leading pharmaceutical companies by outsourcing their products, speaks volumes for our capabilities as an efficient and versatile contract manufacturing partner. We have the requisite expertise to nurture your idea from the earliest stages all the way to market.
</p></h4> 