<div class="container">
    <div class="row">
        <h1  style = "color: black; font-family:Cursive;" align = "center">
            Contact</h1>
        <div class="col-md-6">
            <div class="blockquote-box clearfix">
                 <div class="square pull-left"><i class="fa fa-building-o fa-5x" ></i> 
                 </div>
                <h4><b><u>
                    Corporate Office
                </u></b></h4>
                <p>
                    <table width="500">
			<tr>
		    	<td><b> Marck Biosciences Ltd.</b><br /></td>
		    </tr>
		    <tr>
		    	<td>5th Floor, Heritage, Nr. Gujarat Vidhyapith	<br /></td>
		    	<td>Phone: +91 79 30017500<br /></td>
		    </tr>
		    <tr>
				<td>Ashram Road, Ahmedabad 380014	<br /></td>
				<td>Fax: +91 79 30017600<br /></td>
			</tr>
			<tr>
				<td>Gujarat, India <br /></td>
				<td>E-mail: info@marckindia.com<br /></td>
			</tr>
		</table>
                </p>
            </div>
        
            <div class="blockquote-box blockquote-primary clearfix">
                <div class="square pull-left">
                    <i class="fa fa-sitemap fa-5x" style = "color:black;"></i>
                </div>
                <h4><b><u>
                	Manufacturing Sites
                  </u></b> </h4>
                <p>
                	<table width = "500">
                   <tr>
		    	<td> <b>Kheda Facility</b><br /></td>
		    </tr>
		    <tr>
		    	<td>Plot no: 876, N. H. no. 8, Hariyala, Kheda<br /></td>
		    	<td>Phone: +91 2694 304000<br /></td>
		    </tr>
		    <tr>
				<td>Gujarat, India<br /></td>
				<td>Fax: +91 2694 304050<br /></td>
			</tr>
		</table>
                </p>
            </div>
            <div class="blockquote-box blockquote-success clearfix">
                <div class="square pull-left">
                   <i class="fa fa-truck fa-5x" style= "color: black;"></i>
                </div>
                <h4><b><u>
                    Goa Facility</u></b></h4>
                <p>
                	<table width = "500">
              <tr>
				<td>Plot # 10/11 Pilrene Industrial Estate<br /></td>
				<td>Phone: +91 832 240728<br /></td>
			</tr>
			<tr>
				<td>Survey # 85, Village Marra,<br /></td>
				<td>Fax: +91 832 240728<br /></td>
			</tr>
			<tr>
				<td> Goa, India</td>
			</tr>
		</table>
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="blockquote-box blockquote-info clearfix">
                <div class="square pull-left">
                   <i class="fa fa-money fa-5x" style = "color: black;"></i>
                </div>
                <h4 ><b><u>
                   Marketing & Sales</u></b></h4>
                <p>
                	<table width = "500">
                   <tr>
				<td>
					<b>
						India
					</b>
				</td>
				<td>Phone: +91 79 30017501</td>
			</tr>
			<tr>
				<td>
					Vijay Walia
				</td>
				<td>
					E-mail: vijay_walia@marckindia.com
				</td>
			</tr>
		</table>
                </p>
            </div>
            <div class="blockquote-box blockquote-warning clearfix">
                <div class="square pull-left">
                    <i class="fa fa-cogs fa-5x" style = "color: black;"></i>
                </div>
                <h4><b><u>
                    	Contract Manufacturing </u></b></h4>
                <p>
                	<table width = "800">
                		<tr>
                			<td>
                				 India
                				</td>
                			<td>
                				Phone: +91 79 30017511
                			</td>
                			<td></td>
                			<td>
					           Sandeep Mathur
				            </td>
				            <td>
				            E-mail: sandeep_mathur@marckindia.com
				            </td>
				        </tr>
				        <tr>
				        	<td>
				        		Africa
				        	</td>
				        	<td>
                                 Phone: +91 79 30017531
				        	</td>
				        	<td></td>
				        	<td>
					          B C Tak
				            </td>
				            <td>
					          E-mail: bc_tak@marckindia.com
				            </td>
				        </tr>
				        <tr>
				        	<td>
				        		South East Asia / Middle East
				        	</td>
				        	<td>
				        		Phone: +91 79 30017541
				        	</td>
				        	<td></td>
				        	<td>
					           Puneet Agarwal
				             </td>
				             <td>
				            	E-mail: puneet_agarwal@marckindia.com
							</td>
						</tr>
						<tr>
							<td>
								Europe/Latin America/UK/CIS/US
							</td>
							<td>
								Phone: +91 79 30017521
							</td>
							<td></td>
							<td>
								Mani Subramaniam
							</td>
							<td>
							E-mail: mani_subramaniam@marckindia.com
							</td>
						</tr>
					</table>
					 </p>
					  </div>
        </div>
    </div>
</div>