<div class="span8 offset4">	
	<center> <h2> <b><i class="fa fa-spinner"></i>Contact</b></h2></center>
	<%= image_tag("bindi.jpg", :alt => "Sample App", :class => "round" , :width => "600",:height => "1000") %>
	<table width="500">
			<tr>
				<td>
					<h4><u> Corporate Office</b></h4><br />
				</td>
			</tr>
			<tr>
		    	<td><b> Marck Biosciences Ltd.</b><br /></td>
		    </tr>
		    <tr>
		    	<td>5th Floor, Heritage, Nr. Gujarat Vidhyapith	<br /></td>
		    	<td>Phone: +91 79 30017500<br /></td>
		    </tr>
		    <tr>
				<td>Ashram Road, Ahmedabad 380014	<br /></td>
				<td>Fax: +91 79 30017600<br /></td>
			</tr>
			<tr>
				<td>Gujarat, India <br /></td>
				<td>E-mail: info@marckindia.com<br /></td>
			</tr>
		

		<br /> <br />
		
			<tr>
				<td>
					<h4><u> Manufacturing Sites</u></h4><br />
				</td>
			</tr>
		
			<tr>
		    	<td> <b>Kheda Facility</b><br /></td>
		    </tr>
		    <tr>
		    	<td>Plot no: 876, N. H. no. 8, Hariyala, Kheda<br /></td>
		    	<td>Phone: +91 2694 304000<br /></td>
		    </tr>
		    <tr>
				<td>Gujarat, India<br /></td>
				<td>Fax: +91 2694 304050<br /></td>
			</tr>
	
			<tr>
				<td>
					<b>
						Goa Facility<br />
					</b>
				</td>
			</tr>
			<tr>
				<td>Plot # 10/11 Pilrene Industrial Estate<br /></td>
				<td>Phone: +91 832 240728<br /></td>
			</tr>
			<tr>
				<td>Survey # 85, Village Marra,<br />
				<td>Fax: +91 832 240728<br /></td>
			</tr>
			<tr>
				<td> Goa, India</td>
			</tr>
			<tr>
				<td>
					<b>
						<h4><u>Marketing & Sales</u></h4>
						<br />
					</b>
				</td>
			</tr>
			<tr>
				<td>
					<b>
						India
					</b>
				</td>
				<td>Phone: +91 79 30017501</td>
			</tr>
			<tr>
				<td>
					Vijay Walia
				</td>
				<td>
					E-mail: vijay_walia@marckindia.com
				</td>
			</tr>
		
		</div>

		<br /> <br />

			<div>
				
				<tr>
					<td>
						<b>
							Contract Manufacturing (India)
						</b>
						<br />
					</td>
				<td>Phone: +91 79 30017511</td>
			</tr>
			<tr>
				<td>
					Sandeep Mathur
				</td>
				<td>
					E-mail: sandeep_mathur@marckindia.com
				</td>
			</tr>
			
			<br /> <br />
		
			<div>
				
				<tr>
					<td>
						<b>
							Africa
						</b>
						<br />
					</td>
				<td>Phone: +91 79 30017531</td>
			</tr>
			<tr>
				<td>
					B C Tak
				</td>
				<td>
					E-mail: bc_tak@marckindia.com
				</td>
			</tr>
			
			<br /> <br />
		
			<div>
			
				<tr>
					<td>
						<b>
							South East Asia / Middle East
						</b>
						<br />
					</td>
				<td>Phone: +91 79 30017541</td>
			</tr>
			<tr>
				<td>
					Puneet Agarwal
				</td>
				<td>
					E-mail: puneet_agarwal@marckindia.com
				</td>
			</tr>
			
			<br /> <br />
		
			
				<tr>
					<td>
						<b>
							Europe/Latin America/UK/CIS/US
						</b>
						<br />
					</td>
				<td>Phone: +91 79 30017521</td>
			</tr>
			<tr>
				<td>
				Mani Subramaniam
				</td>
				<td>
					E-mail: mani_subramaniam@marckindia.com
				</td>
			</tr>
			</table>
</div>