<div id = "developer">
<div class= "container">
<div class="row">
        <table>
            <tr>
                <td>
                    <div class="col-sm-2 col-md-2">
                         <%= image_tag("ssnehh.png", :alt => "Sample App", :class => "round" , :width => "600") %>
                    </div>
                    <div class="col-sm-4 col-md-4">
                    
                    <blockquote>
                        <p>
                            Sneh Pandya
                        </p>
                        <small>
                            <cite title="Source Title">
                                Vadodara, India  
                                <i class="fa fa-map-marker"></i>
                            </cite>
                        </small>
                    </blockquote>
                    
                    <p> <i class="fa fa-envelope"></i> snehpandya.blogspot.in
                    <br /> <i class="fa fa-globe"></i> snehpandya123.wordpress.com
                    <br /> <i class="fa fa-gift"></i> August 11, 1992</p>
                </div>
             </td>
    

       
               <td>
                <div class="col-sm-2 col-md-2">
                        <%= image_tag("bindib.png", :alt => "Sample App", :class => "round" , :width => "600") %>
                </div>
                
                <div class="col-sm-2 col-md-4">
                    <blockquote>
                        <p>
                            Bindi Bhatt
                        </p>
                        <small>
                            <cite title="Source Title">
                                Vadodara, India   
                                <i class="fa fa-map-marker"></i>
                            </cite>
                        </small>
                     </blockquote>
                    <p>
                        <i class="fa fa-envelope"></i>
                         bhat.bindi@gmail.com
                    <br/> 
                    <br />
                    <i class="fa fa-gift"></i>
                         June 02, 1992</p>
                         </div>
                </td>
            </tr>
        </table>
        
    </div>
</div>
</div>
