
<div class="container">
    <div class="row">
        <table>
            <tr>
                <td>
        <div class="col-sm-2 col-md-2">
             <%= image_tag("ssnehh.png", :alt => "Sample App", :class => "round" , :width => "600") %>
        </div>
        <div class="col-sm-4 col-md-4">
            <blockquote>
                <p>Sneh Pandya</p> <small><cite title="Source Title">Vadodara, India  <i class="fa fa-map-marker"></i></cite></small>
            </blockquote>
            <p> <i class="fa fa-envelope"></i> snehpandya.blogspot.in
                <br /> <i class="fa fa-globe"></i> snehpandya123.wordpress.com
                <br /> <i class="fa fa-gift"></i> August 11, 1992</p>
        </td>
    

        </div>
<td>
        <div class="col-sm-2 col-md-2">
           <%= image_tag("bindib.png", :alt => "Sample App", :class => "round" , :width => "600") %>
        </div>
        <div class="col-sm-2 col-md-4">
            <blockquote>
                <p>Bindi Bhatt</p> <small><cite title="Source Title">Vadodara, India   <i class="fa fa-map-marker"></i></cite></small>
            </blockquote>
            <p><i class="fa fa-envelope"></i> bhat.bindi@gmail.com
                <br/> 
            <br /><i class="fa fa-gift"></i> June 02, 1992</p>
</td>
</tr>
</table>
        </div>
    </div>
</div>



<script language="javascript">

//Rain/Snow effect- By Craig Blanchette Craiga.topcities.com
//Script featured on Dynamic Drive
//Visit http://www.dynamicdrive.com for this script and more

snow = true; // false-rain; true-snow
snowsym = " * " //These are the symbols for each
rainsym = " ' " //You can put images here.
howmany = 10 //How many drops/snowflakes?

/**************Do not need to change anything below***********/
if(snow){sym = snowsym; speed=1; angle=10; drops=howmany}
else{sym = rainsym; speed=50; drops=howmany; angle=6}
movex = -speed/angle; movey = speed; count = 0;

function moverain(){
for(move = 0; move < drops; move++){
xx[move]+=movex; yy[move]+=mv[move];
hmm = Math.round(Math.random()*1);
if(xx[move] < 0){xx[move] = maxx+10;}
if(yy[move] > maxy){yy[move] = 10;}
drop[move].left = xx[move]
drop[move].top = yy[move]+document.body.scrollTop;
}setTimeout('moverain()','1')}

</script>

</head>
<body>

<script language="javascript">

if (document.all){
drop = new Array(); xx = new Array(); yy = new Array(); mv = new Array()
ly = "document.all[\'"; st = "\'].style"
for(make = 0; make < drops; make++){
document.write('<div id="drop'+make+'" class=drop>'+sym+'</div>');
drop[make] = eval(ly+'drop'+make+st);
maxx = document.body.clientWidth-40
maxy = document.body.clientHeight-40
xx[make] = Math.random()*maxx;
yy[make] = -100-Math.random()*maxy;
drop[make].left = xx[make]
drop[make].top = yy[make]
mv[make] = (Math.random()*5)+speed/4;
drop[make].fontSize = (Math.random()*10)+20;
if(snow){col = 'white'}else{col = 'blue'}
drop[make].color = col;
}
window.onload=moverain
}
</script>

</body>
</html>