<div class="container">
  <h1 style = "color: black; font-family:Cursive;" align = "center">HELP <%= image_tag("help.jpg", :alt => "Sample App",:class => "img-circle img-thumbnail" , :width => "200") %></h1>
  <div class="row destacados">
    <div class="span9">
        <div>
       
        <%= image_tag("help2.jpg", :alt => "Sample App", :class => "img-circle img-thumbnail" , :width => "200") %> <h2> Authorized Person</h2>
        <p>He/She has the main functionality to do in this web portal.Auhtorized person can access to all the database stored in the datawarehouse.
          Datawarehouse is also prepared by the this person only.Authorized Person had given the username and the password by the developer and it remains fix.He/She can see the distribution of all the departments and also the products that are in stock.</p>
        
      </div>
    </div>
    <div class="span9">
      <div>
         <%= image_tag("help6.jpg", :alt => "Sample App", :class => "img-circle img-thumbnail" , :width => "200") %>
        <h2> Employee </h2>
        <p>Employee can view the distribution of the product of all the department and can send the replication form to the authorized person.</p>
       
      </div>
    </div>
    <div class="span9">
      <div>
         <%= image_tag("gm.jpg", :alt => "Sample App", :class => "img-circle img-thumbnail" , :width => "200") %>
        <h2> General Manager</h2>
        <p>GM can approve all the capex and also approves PO as in PO signature of the GM is must . Without Signature of the GM PO is not granted.</p>
        
      </div>
    </div>
  </div>
</div>