<h2>HELP <i class="fa fa-wheelchair"></i></h1>
<p>
<ul>
There are 3 main roles:
   <li>   Authorized Person </li>
   <li>   Employee </li>
   <li>   General Manager </li>
   <li><!-- Button to trigger modal -->
<a href="#sneh" role="button" class="btn" data-toggle="modal">Launch demo modal</a>

<!-- Modal -->
<div id="sneh" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Modal header</h3>
    </div>
    <div class="modal-body">
        <p>One fine body…</p>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary">Save changes</button>
    </div>
</div>

</li>
</ul>
</p>
<h3><u><i> Authorized Person:</i></u> </h3>
<p> He/She has the main functionality to do in this web portal.
	Auhtorized person can access to all the database stored in the datawarehouse.
	Datawarehouse is also prepared by the this person only.
	Authorized Person had given the username and the password by the developer and it remains fix.
	He/She can see the distribution of all the departments and also the products that are in stock.</p>

<h3><u><i>Employee</i></u></h3>
 <p>Employee can view the distribution of the product of all the department and can send the replication form to the authorized person.
</p>
<h3><u><i>General Manager </i></u></h3>
<p> GM can approve all the capex and also approves PO as in PO signature of the GM is must.
	Without Signature of the GM PO is not granted.</p>


