<div class="main-header1">
 
<div style="margin-top:80px;" class="row-fluid">
    <div class="offset3 span6 well">
      
  <p style = "font-size:20pt;color: MidnightBlue; align: left"><i class="fa fa-plus-square-o"></i><i><b><h1>Find lawyers</h1></b></i></p>
   <hr class="colorgraph">
    	
  <%= form_for (@search) do |f| %>
    <h4>Select City</h4> <%= f.select(:city, city_for_select, :prompt => 'Select City' , :id=> "lcity") %>
      <br />
    <h4>Select Services</h4> <%=f. select(:service, service_for_select, :prompt => 'Select Services') %>
     <hr class="colorgraph">
    <%= f.submit "search" , :class => "btn btn-primary" %>
     <% end %>
  </div>
  </div>

</div>
     


   
 



















  