<body onload="JavaScript:AutoRefresh(500);" >
<div class="container"  id = "table"  onclick = "toggleTable();">
    <div class="row">
        <div class="col-md-9">
            <a class = "form-inline" action="#" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" id="system-search" placeholder="Search" name="q" required>
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                    </span>
                </div>
            </a>
            
        </div>
        <div class="col-md-9">

         <table class="table table-striped table-bordered table-condensed">
                    <thead>
							<tr style = 'background-color: white'>
								<th> <i class="fa fa-male"></i> Name  </th>
								<th><i class="fa fa-bars"></i>  Address</th>
								<th><i class="fa fa-envelope-o"></i>  Email</th>
								<th><i class="fa fa-map-marker"></i>  Location</th>
								<th><i class="fa fa-phone"></i>  Mobile_no</th>
								<th><i class="fa fa-phone-square"></i>  Phone_no</th>
								<th><i class="fa fa-truck"></i>  Asset_name</th>
                                <th><i class="fa fa-truck"></i>  Take action</th>
							
							</tr>

	</thead>
	<tbody>
 <%= paginate @vendor %>
      
       <%= render @vendor %>
	
   </tbody>
   <div><table >
                <tr>
                    <td>
                        <%= button_to "VIEW All" , vendors_path ,:class=>"btn btn-info",:method => :get %>
                    </td>
                    <td>
                        <%= button_to "ADD NEW" , vendors_new_path ,:class=>"btn btn-primary",:method => :get %>
                    </td>
                </tr>
            </table>
            
            
        </div>
</table>
</body>
