<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Marck Bioscience Pvt Ltd.</title>
</head>
  <body>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="center" valign="top" bgcolor="#726627" style="background-color:#726627;"><br>
      <br>
        <table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" style="padding:5px;"></td>
          </tr>
        
          <tr>
            <td align="left" valign="top"></td>
          </tr>
        
          <tr>
              <td align="center" valign="top" bgcolor="#006c00" style="background-color:#006c00; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="5">
                    <tr>
            
                    </tr>
                  </table>
              </td>
          </tr>
          
          <tr>
              <td align="center" valign="top" bgcolor="#ffffff" style="background-color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; padding:12px;">
          
                <table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-bottom:10px;">
            
              
                <tr>
                 <td>
                    <img src="http://www.marckindia.com/images/logo.jpg" width="50%" height="50%" align="left"><div style="font-size:30px; color:#006d00;">
                   Vendor</div>
                </td>
                
                    <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;">
                   </td> 
                </tr>
                
                <tr>
                    <td>
                      <div style="font-size:20px;"><h4>On the basis of requirement, we have selected you to supply the <%=@vendor.asset_name %> goods from <%=@vendor.name %></h4></div><br/>
                    </td>
                </tr>
                
                <tr>
                   <td>
                     <img src="http://www.marckindia.com/images/about_img.jpg" width="100%" height="100%" align="left" style="margin-right:20px; margin-top:20px;">
                  </td>
               </tr>
              </table>
                <p>
                  <h4>We'll provide you the PO through mail very soon.
      
                      We hope that you'll deliever the required good on time as per mention in our PO without any delay
                  </h4>
                </p>
     
                
                <table width="100%" border="0" cellspacing="0" cellpadding="10" style="margin-bottom:10px;">
                  <tr>
                    <td align="left" valign="top" style="font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#525252;">
                      <div style="font-size:14px;">
                      </div>
                      
                      <div> 
                        <p style = "color: red;">
                        <br>
                 
                
            
                  <blockquote style="text-align: center; color: #999; font-style: italic; font-variant: normal; font-weight: normal; font-size: 16px; line-height: 145%; font-family: 'Georgia', serif; margin: 0; padding: 5px 30px;" align="center"><p style="color: black; vertical-align: top; font-style: italic; font-variant: normal; font-weight: normal; font-size: 16px; line-height: 145%; font-family: 'Georgia', serif; margin: 0 0 1em;">“<b>Mission</b> is to become a transnational pharmaceutical company through the development and introduction of a wide portfolio of branded and generic products in key markets.”</p></blockquote>
                </tr>
                
                <tr>
                  <td>
                    <h3 style="color: red; font-style: normal; font-variant: normal; font-weight: normal; font-size: 165%; line-height: 109%; font-family: 'Arial', sans-serif; margin: 0 0 .1em;">TERMS AND CONDITIONS
                    </h3>
                  
                  <ul style = "color:red;">
                    <li>We expect you to deliever the goods on time as per our company's agreement</li>
                    <li>Faliure of timely delievery will result in breaking of bond with your company</li>
                    <li>Payment mode will be as per your choice</li>
                    <li>In case of any query,feel free to contact us</li>
                  </ul>
                </td>
              </tr>
              </table>
              <tr>
                <td align="left" valign="top" bgcolor="#006c00" style="background-color:#006c00;">
                  <table width="100%" border="0" cellspacing="0" cellpadding="15">
                    <tr>
                        <td align="left" valign="top" style="color:#ffffff; font-family:Arial, Helvetica, sans-serif; font-size:13px;">Plot no: 876, N. H. no. 8, Hariyala, Kheda
                          Gujarat, India <br>
                          Kheda Branch <br>
                          Phone: +91 2694 304000 <br>
                          Fax:Fax: +91 2694 304050 <br>
                          Email: <a href="mailto: info@marckindia.com" style="color:#ffffff; text-decoration:none;"> info@marckindia.com </a><br>
                          Website: <a href="http://www.marckindia.com" target="_blank" style="color:#ffffff; text-decoration:none;">www.marckindia.com</a></td>
                    </tr>
                  </table>
                </tr>
              <tr>
                  <td align="left" valign="top" bgcolor="white" style="background-color:white;">
                      <table width="100%" border="0" cellspacing="0" cellpadding="15">
                      <tr>
                          <td align="right" valign="top" style="color:black; font-family:Arial, Helvetica, sans-serif; font-size:13px;">© Copyright Pandya software <%=Time.now.strftime("%Y") %>
                          </td>
                      </tr>
                    </table>
                  </td>
              </tr>
                    
                </td>

                
      </tr>
  </table>
    <br>
    <br></td>
  </tr>
</table>
</body>
</html>