 <li>
<%=link_to "Dashboard", hmain_path %>
 </li>
  <ul class="nav pull-right">
  <li>
 <div class="dropdown"><a id="dLabel" role="button" class="btn btn-primary" data-target="#" href="#"><i class="fa fa-money"></i> Budget 
  </a>
 </li>
 </div>
 </ul>